body {
  font-family: "Arial", sans-serif;
  background-color: #ffffff; /* Beige background */
  margin: 0;
  padding: 20px;
  color: #3e2723; /* Dark brown text */
}
.discount-number {
  font-size: 5em;
  animation: pulse 1.5s infinite;
  margin: 10px;
}
#hidden {
  display: none;
}
.discount-number span {
  font-size: 0.8em;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}
.banner {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fffcf8;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.left-section {
  flex: 1;
  min-width: 300px;
  text-align: center;
}
.time{
  font-size:1.1em;
}
.sale-badge {
  background-color: #560e06; /* Golden highlight */
  color: #fff; /* Deep maroon */
  padding: 15px 20px;
  border-radius: 25px;
  font-weight: medium;
  font-size: 1.2em;
  display: inline-block;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.urgency-slogan {
  font-size: 1.5em;
  color: #800000; /* Deep maroon */
  margin-bottom: 20px;
}
.coupon-box {
  border: 2px dashed #ffa500; /* Orange accent */
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
  color: #3e2723;
  cursor: pointer;
}
.coupon-box.applied {
  border-color: #fef1db;
  background-color: #e8f5e9;
  color: green;
}
.countdown {
  font-size: 2em;
  color: #800000;
  margin-bottom: 20px;
}
.orders-remaining {
  font-size: 1.2em;
  color: #3e2723;
}
.notify-btn {
  padding: 15px 30px;
  border-radius: 20px;
  margin-top: 10px;
  color: white;
  background-color: #ff5f15;
  border: none;
  font-size: 1rem;
}
.popup {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(20px);
}

.popup.show {
  animation: slideUp 0.5s ease forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.right-section {
  flex: 1;
  min-width: 300px;
  text-align: center;
}
.chart-container {
  max-width: 500px;
  height: 300px;
  margin: 0 auto;
}
.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
}
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    text-align: center;
  }
  .left-section,
  .right-section {
    flex: none;
    width: 100%;
  }
  .popup {
    top: -10px;
    right: -30px;
  }
  .chart-container {
    max-width: 300px;
    height: 200px;
    margin: 0 auto;
  }
}
